/* Aside Posts */
.format-aside,
.format-status,
.format-link {
  .entry-header {
    display: none;
  }
  .entry-content {
    padding-top: 15px;
  }
}

/* Aside Posts */
.search-results .format-aside .entry-header,
.search-results .format-status .entry-header,
.search-results .format-link .entry-header {
  display: block;
}

.format-chat {
  .chat-timestamp {
    float: right;
    font-weight: normal;
    font-size: 10px;
    color: $blue;
  }
}

/* Gallery Posts */
.format-gallery .gallery-thumb {
  float: left;
  margin: 0 1em 0 0;
}

/* Custom Post Types */
.format-aside:before,
.format-video:before,
.format-audio:before,
.format-image:before,
.format-gallery:before,
.format-link:before,
.format-quote:before,
.format-chat:before,
.error404:before,
.post.format-standard.sticky:before,
.entry-content .avatar {
  font-family: 'Genericons';
  display: block;
  font-size: 45px;
  font-style: normal;
  position: absolute;
  left: -65px;
  top: 25px;
}
.format-aside:before {
  content: '\f101';
}
.format-video:before {
  content: '\f104';
}
.format-audio:before {
  content: '\f109';
}
.format-image:before {
  content: '\f102';
}
.format-gallery:before {
  content: '\f103';
}
.format-link:before {
  content: '\f107';
}
.post.format-standard.sticky:before {
  content: '\f308';
}
.format-quote:before {
  content: '\f100';
}
.format-chat:before {
  content: '\f108';
}
.error404:before {
  content: '\f423';
}

// infinite-scroll comes with jetpack
.infinite-scroll {
  #nav-below, #nav-above, #colophon {
    display: none;
  }
}