/* =Images
-------------------------------------------------------------- */

a img {
  border: 0 none;
}
p img {
  margin-bottom: 0.5em; /* a small bottom margin prevents content floating under images */
}
/*
Resize images to fit the main content area.
- Applies only to images uploaded via WordPress by targeting size-* classes.
- Other images will be left alone. Use "size-auto" class to apply to other images.
*/
img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img,
.widget-area img,
.wp-caption,
.entry-content img {
  max-width: 100%; /* When images are too wide for containing element, force them to fit. */
  height: auto; /* Override height to match resized width for correct aspect ratio. */
}
img.alignleft {
  margin-right: 1em;
}
img.alignright {
  margin-left: 1em;
}
img.aligncenter,
img.attachment-thumbnail,
img.size-thumbnail,
.wp-caption img,
.media-attachment img,
.entry-attachment img {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  @include rounded(3px);
}
.wp-caption .wp-caption-text, .gallery-caption, .entry-caption {
  padding: .2em;
  text-align: center;
  font-style: italic;
  font-size: 12px;
  line-height: 2;
  color: #777;
}
.wp-caption img {
  margin: .25em;
}
.wp-smiley {
  margin: 0;
  border: 0;
  vertical-align: middle;
}
#page img.avatar {
  box-shadow: 0 1px 2px #bbb;
  @include rounded(500px);
}