a {
  color: #555;
}
a:hover {
  text-decoration: none;
}
dl {
  margin-bottom: 18px;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 25px;
}
hr {
  margin: 18px 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}
abbr {
  font-variant: small-caps;
  &[title] {
    cursor: help;
    border-bottom: 1px dotted #999;
  }
}
blockquote {
  font-family: Georgia,"Times New Roman",Times,serif;
  padding: 0 0 0 15px;
  margin: 0 0 18px 40px;
  position: relative;
  font-style: italic;
  &:before {
    display: block;
    content: "\201C";
    font-size: 100px;
    position: absolute;
    left: -40px;
    top: 30px;
    font-style: normal;
	}
	p {
	  margin-bottom: 0;
	  font-size: 16px;
	  font-weight: 300;
	}
}
cite {
  font-style: normal;
}
blockquote small, blockquote cite, .post-format-content cite {
  display: block;
  color: #999;
  font-style: normal;
  font-size: 0.9em;
  &:before {
    content: '\2014 \00A0';
  }
}
figure.quote {
  background-color: #F5F5F5;
  height: auto;
  padding: 34px;
  margin: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);

  blockquote {
    margin: 0px;
    padding: 0px;

    &:before {
      content: none;
    }
    p {
      font-size: 22px;
    }
    p:first-child {
      padding-top: 0px;
      margin-top: 0px;
    }
  }

  figcaption.quote-caption {
    padding-top: 30px;
  }
}
pre {
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 16px;
  background-color: #f5f5f5;
  display: block;
  line-height: 18px;
  margin: 2em 0;
  padding: 14px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
code {
  font-family: "Courier 10 Pitch", Courier, monospace;
  word-wrap: break-word;
}
ins {
  background: #fff9c0;
  text-decoration: none;
}
h1, h2, h3, h4, h5 {
  font-weight: 200;
}
h1 {
  font-size: 30px;
}