.entry-media {
  padding: 0px;
  margin: 0px auto;
  text-align: center;
  background-color: #F5F5F5;
  width: 100%;
  height: auto;
  @include custom-rounded(3px, 3px, 0px, 0px);
  iframe, object, embed {
    margin: 0px auto;
    text-align: center;
  }
  img {
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    padding: 0;
  }
}

article.format-video {
  .entry-media {
    background-color: #000000;
  }
}

article.format-audio {
  .entry-media {
    padding: 20px 34px;
  }
}