/* =Menu
-------------------------------------------------------------- */

#access {
  display: block;
  width:  100%;
  @include border-shadow-bottom;
  float: left;
  margin-bottom: 50px;
  z-index: 3;
  position: relative;
  ul {
    margin: 0;
    padding-left: 0px;
    list-style: none outside none;
    z-index: 4;
    ul {
      background-color: #f0f0f0;
      border: 1px #ccc solid;
      text-shadow: 0 1px 0 #fff;
      display: none;
      float: left;
      position: absolute;
      top: 2em;
      left: 0;
      @include box-shadow(0, 5px, 25px, 0, rgba(0,0,0,0.2));
      @include rounded($border-radius);
      ul {
        left: 100%;
        top: 0;
      }
      li {
        a {
          color: #777;
          line-height: 1em;
          padding: .4em .4em .4em 1em;
          width: 15em;
          height: auto;
          @include border-shadow-top;
          font-weight: 300;
        }
        &:first-child a {
          border: 0 none;
          box-shadow: none;
        }
        a:hover, &.current_page_item a {
          color: #444;
        }
      }
    }
  }
  li {
    display: block;
    float: left;
    position: relative;
    font-weight: 300;
  }
  a, a:visited {
    display: block;
    line-height: 2em;
    padding-right: 1.5em;
    text-decoration: none;
  }
}
#access ul li:hover > ul,
#access ul li:focus > ul,
#access ul li.focus > ul {
  display: block;
}
