/* =Content
-------------------------------------------------------------- */

article.page,
article.post,
article.attachment {
  @include box-shadow(0, 1px, 5px, 0, rgba(0,0,0,0.2));
  position: relative;
  @include rounded($border-radius);
  background-color: white;
  border: 1px solid #ccc;
  a {
    color: $blue;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
.sticky {
}
article, aside {
  display: block;
  position: relative;
}
footer.entry-meta {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #f5f5f5;
  padding: 10px 34px;
  color: #555;
  @include custom-rounded(0, 0, $border-radius, $border-radius);
}
.entry-content,
.entry-summary,
.entry-title {
  color: #3f3f3f;
}
.entry-content,
.entry-summary {
  font-size: 1em;
  line-height: 27px;
  margin-bottom: 34px;
}
.entry-content,
.entry-title,
.entry-meta,
.entry-summary {
  padding: 0 34px;
  text-shadow: none;
}
.entry-meta {
  clear: both;
  display: block;
}
.entry-title {
  padding-top: 25px;
}
#content nav {
  display: block;
  overflow: hidden;
}
#content nav .nav-previous {
  float: left;
  width: 50%;
}
#content nav .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}
#nav-above {
  .nav-previous, .nav-next {
    margin: 0 0 40px;
  }
}
#nav-below {
  clear: both;
  margin: 30px 0 0;
}
.nav-previous, .nav-next,
.previous-image, .next-image {
  font-size: 12px;
}
.page-link {
  clear: both;
  margin: 0 0 1em;
}
.page .edit-link {
  clear: both;
  display: block;
}
#content {
  .post, .page {
    margin-bottom: 60px;
  }
  .post:after, .page:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
}
.entry-meta,
.tag-archive-meta,
.category-archive-meta,
.author-note {
  font-size: 0.8em;
}
.entry-meta a {
  color: #777;
}
.entry-title, .entry-title a {
  font-size: 40px;
  margin: 0;
  .format-quote &, .format-video &, .format-audio &, .format-image & {
    font-size: 22px;
    padding-top: 30px;
  }
}

/* 404 page */
.error404 .widget {
  float: left;
  width: 33%;
}
.error404 .widget .widgettitle,
.error404 .widget ul {
  margin-right: 1em;
}
.error404 .widget_tag_cloud {
  clear: both;
  float: none;
  width: 100%;
}

/* Notices */
.post .notice,
.error404 #searchform {
  background: #eee;
  display: block;
  padding: 1em;
}