/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
  body, .single-column, .multi-column {
    @import "responsive_959";
  }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (max-width: 767px) {
  body, .single-column, .multi-column {
    @import "responsive_767";
  }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (max-width: 479px) {
  body, .single-column, .multi-column {
    @import "responsive_479";
  }
}