body {
  font-size: 0.9em;
}
#site-title {
  a {
    font-size: 0.7em;
    line-height: 1;
  }
  margin-bottom: 30px;
}
#site-description {
  font-size: 1.3em;
}
article.format-audio {
  .entry-media {
    padding-left: 0px;
    padding-right: 0px;
  }
}
#page {
  width: auto;
  margin: 0 5px;
}
#main .widget-area {
  width: 100%;
}
article.post,
article.page {
  margin: 0;
  padding: 0;
}
.entry-title,
.entry-content,
.entry-summary,
.entry-meta,
footer.entry-meta {
  color: inherit;
  text-shadow: inherit;
  margin: 0px;
  padding-left: 15px;
  padding-right: 15px;
}
footer.entry-meta {
  padding-bottom: 15px;
}
.post:hover .entry-meta, .post:hover .entry-meta a,
.post .entry-meta, .post .entry-meta a {
  color: #777;
}
.entry-header .entry-title {
  padding-top: 15px;
  padding-bottom: 5px;
  a {
    font-size: 35px;
  }
  font-size: 35px;
  line-height: 1;
}
.format-quote {
  .entry-content {
    padding-top: 0;
    blockquote:first-child {
      padding: 15px;
      margin: 0 -15px 15px -15px;
    }
  }
}

/* Custom Post Types */
.format-aside,
.format-link,
.format-quote,
.format-status {
  p:first-child {
    padding-top: 0px;
    margin-top: 0px;
  }
}

#page {
  position: inherit;
}

#access {
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  @include rounded(0);
  background-color: #464646;
  z-index: 99999;
}
#access a,
#access a:visited,
#access a:hover,
#access .section-heading a {
  color: #fff;
  text-shadow: none;
  border: none;
  text-decoration: none;
}
#access:target ul,
#access.fokus ul {
  display: block;
  font-size: 17px;
  background-color: transparent;
}
#access .section-heading {
  clip: inherit;
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin: 0;
  background-color: #464646;
}
#access .section-heading a:before {
  font-family: 'Genericons';
  content: '\f419';
  margin-right: 10px;
  padding-left: 25px;
}
#access:target .section-heading {
  display: none;
}
#access li {
  float: inherit;
  margin: inherit;
}
#access ul {
  display: none;
  margin: inherit;
  padding-left: 25px;
  background-color: transparent;
}
#access ul ul {
  background-color: transparent;
  background-image: none;
  display: inherit;
  position: inherit;
  float: none;
  padding: inherit;
  margin-left: 10px;
  border: none;
  top: inherit;
  left: inherit;
  @include reset-box-shadow;
  border: none;
}
#access ul > li > a {
  border: none;
  margin: inherit;
}
#access ul ul ul {
  left: inherit;
  top: inherit;
}
#access ul ul a {
  line-height: 1em;
  height: auto;
  border: none;
  width: auto;
}
#access div > ul > li > a,
#access div > ul > li > a:hover,
#access div > ul > li > a:visited,
#access .current_page_item > a,
#access .current_page_ancestor > a,
#access ul ul li a,
#access ul ul li a:hover,
#access ul ul li a:visited,
#access ul ul li.current_page_item a {
  color: #fff;
  border-bottom: none;
}
#access ul ul li a {
  height: auto;
  border-top: none;
  @include reset-box-shadow;
}
