body {
  font-size: 0.9em;
}
#site-title {
  a {
    font-size: 0.7em;
    line-height: 1;
  }
  margin-bottom: 30px;
}
#site-description {
  font-size: 1.3em;
}
article.format-audio {
  .entry-media {
    padding-left: 0px;
    padding-right: 0px;
  }
}
#page {
  width: auto;
  margin: 0 5px;
}
#main .widget-area {
  width: 100%;
}
article.post,
article.page {
  margin: 0;
  padding: 0;
}
.entry-title,
.entry-content,
.entry-summary,
.entry-meta,
footer.entry-meta {
  color: inherit;
  text-shadow: inherit;
  margin: 0px;
  padding-left: 15px;
  padding-right: 15px;
}
footer.entry-meta {
  padding-bottom: 15px;
}
.post:hover .entry-meta, .post:hover .entry-meta a,
.post .entry-meta, .post .entry-meta a {
  color: #777;
}
.entry-header .entry-title {
  padding-top: 15px;
  padding-bottom: 5px;
  a {
    font-size: 35px;
  }
  font-size: 35px;
  line-height: 1;
}
.format-quote {
  .entry-content {
    padding-top: 0;
    blockquote:first-child {
      padding: 15px;
      margin: 0 -15px 15px -15px;
    }
  }
}

/* Custom Post Types */
.format-aside,
.format-link,
.format-quote,
.format-status {
  p:first-child {
    padding-top: 0px;
    margin-top: 0px;
  }
}