/* =Structure
-------------------------------------------------------------- */

main {
  display: block;
}
#page {
  display: block;
  margin: 0 auto;
  position: relative;
  width: 950px;
}
.single-column {
  #page {
    width: 670px;
  }
  
  #main {
    margin: 0;
    
    #sidebar {
      overflow: hidden;
      width: 100%;
      padding-top: 25px;
      margin-top: 25px;
    }
    
    #secondary {
      padding-right: 69px;
    }
    
    .widget-area {
      float: left;
      overflow: hidden;
      width: 300px;
    }
  }
}
#main {
  clear: both;
}
#primary {
  float: left;
  width: 710px;
  &.full-width {
    width: 100%;
  }
}
#content {
  margin: 0 40px 0 0;
}
#sidebar {
  float: right;
  overflow: hidden;
  width: 220px;
}
#main .widget-area {
  float: right;
  width: 220px;
}

/* Increase the size of the content area for templates without sidebars */
.full-width #content,
.image-attachment #content,
.error404 #content {
  margin: 0;
}

/* Text meant only for screen readers */
.screen-reader-text,
.assistive-text {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

/* Alignment */
.alignleft {
  display: inline;
  float: left;
  margin-right: 1em;
}
.alignright {
  display: inline;
  float: right;
  margin-left: 1em;
}
.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* =Footer
-------------------------------------------------------------- */

#colophon {
  clear: both;
  display: block;
  width: 100%;
  padding: 40px 0;
  font-size: 12px;
  text-align: center;
}