/* =Structure
-------------------------------------------------------------- */

main {
  display: block;
}
#page {
  display: block;
  margin: 0 auto;
  position: relative;
  width: 950px;
}
.single-column {
  #page {
    width: 670px;
  }

  #main {
    margin: 0;

    #sidebar {
      overflow: hidden;
      width: 100%;
      padding-top: 25px;
      margin-top: 25px;
    }

    #secondary {
      padding-right: 69px;
    }

    .widget-area {
      float: left;
      overflow: hidden;
      width: 300px;
    }
  }
}
#main {
  clear: both;
}
#primary {
  float: left;
  width: 710px;
  &.full-width {
    width: 100%;
  }
}
#content {
  margin: 0 40px 0 0;
}
#sidebar {
  float: right;
  overflow: hidden;
  width: 220px;
}
#main .widget-area {
  float: right;
  width: 220px;
}

/* Increase the size of the content area for templates without sidebars */
.full-width #content,
.image-attachment #content,
.error404 #content {
  margin: 0;
}

/* Text meant only for screen readers */
.screen-reader-text,
.assistive-text {
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.screen-reader-text:focus,
.assistive-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  line-height: normal;
  padding: 15px 23px 14px;
  position: fixed;
  left: 5px;
  top: 50px;
  text-decoration: none;
  text-transform: none;
  width: auto;
  z-index: 100000; /* Above WP toolbar */
}

/* Alignment */
.alignleft {
  display: inline;
  float: left;
  margin-right: 1em;
}
.alignright {
  display: inline;
  float: right;
  margin-left: 1em;
}
.aligncenter, .alignnone {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* =Footer
-------------------------------------------------------------- */

#colophon {
  clear: both;
  display: block;
  width: 100%;
  padding: 40px 0;
  font-size: 12px;
  text-align: center;
}