/* =Widgets
-------------------------------------------------------------- */

.widget {
  display: block;
  padding-bottom: 40px;
  margin-bottom: 40px;
  @include border-shadow-bottom;
  h3 {
    font-size: 15px;
    font-weight: 500;
    margin: 0 0 10px;
  }
}
.widget-area {
  font-size: 0.8em;
  .widget_search {
    overflow: hidden;
 	}
  ul, li {
    margin: 2px 0;
    padding: 0;
    list-style-position: outside;
    list-style-image: none;
    list-style-type: none;
  }
  li a {
    padding: 2px 0;
    display: block;
  }
}