body#tinymce.wp-editor body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555;
  background-color: #f0f0f0;
  background-image: url("img/noise.png");
  text-shadow: 0 1px 0 #fff;
  font-weight: 300;
}
body#tinymce.wp-editor a {
  color: #555;
}
body#tinymce.wp-editor a:hover {
  text-decoration: none;
}
body#tinymce.wp-editor dl {
  margin-bottom: 18px;
}
body#tinymce.wp-editor dt {
  font-weight: bold;
}
body#tinymce.wp-editor dd {
  margin-left: 25px;
}
body#tinymce.wp-editor hr {
  margin: 18px 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}
body#tinymce.wp-editor abbr {
  font-variant: small-caps;
}
body#tinymce.wp-editor abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #999;
}
body#tinymce.wp-editor blockquote {
  font-family: Georgia,"Times New Roman",Times,serif;
  padding: 0 0 0 15px;
  margin: 0 0 18px 40px;
  position: relative;
  font-style: italic;
}
body#tinymce.wp-editor blockquote:before {
  display: block;
  content: "\201C";
  font-size: 100px;
  position: absolute;
  left: -40px;
  top: 30px;
  font-style: normal;
}
body#tinymce.wp-editor blockquote p {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 300;
}
body#tinymce.wp-editor cite {
  font-style: normal;
}
body#tinymce.wp-editor blockquote small, body#tinymce.wp-editor .post-format-content cite {
  display: block;
  color: #999;
  font-style: normal;
}
body#tinymce.wp-editor blockquote small:before, body#tinymce.wp-editor .post-format-content cite:before {
  content: '\2014 \00A0';
}
body#tinymce.wp-editor figure.quote {
  background-color: #F5F5F5;
  height: auto;
  padding: 34px;
  margin: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
body#tinymce.wp-editor figure.quote blockquote {
  margin: 0px;
  padding: 0px;
}
body#tinymce.wp-editor figure.quote blockquote:before {
  content: none;
}
body#tinymce.wp-editor figure.quote blockquote p {
  font-size: 22px;
}
body#tinymce.wp-editor figure.quote blockquote p:first-child {
  padding-top: 0px;
  margin-top: 0px;
}
body#tinymce.wp-editor figure.quote figcaption.quote-caption {
  padding-top: 30px;
}
body#tinymce.wp-editor pre {
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 16px;
  background-color: #f5f5f5;
  display: block;
  line-height: 18px;
  margin: 2em 0;
  padding: 14px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
body#tinymce.wp-editor code {
  font-family: "Courier 10 Pitch", Courier, monospace;
  word-wrap: break-word;
}
body#tinymce.wp-editor ins {
  background: #fff9c0;
  text-decoration: none;
}
body#tinymce.wp-editor h1, body#tinymce.wp-editor h2, body#tinymce.wp-editor h3, body#tinymce.wp-editor h4, body#tinymce.wp-editor h5 {
  font-weight: 200;
}
body#tinymce.wp-editor h1 {
  font-size: 30px;
}
